# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

.gradle
.idea
lib
out
gradle
gradlew
gradlew.bat
log
*.dll
temp
*.mv.db
*.binlog
src/main/resources/static/pug-bootstrap/css/**
src/main/resources/static/pug-bootstrap/layouts/**
src/main/resources/static/pug-bootstrap/_bootstrap.pug
src/main/java/org/drinkless/tdlib/example/**
