nav.navbar.navbar-expand-lg.navbar-dark.bg-dark
    a.navbar-brand(href="/") TGDump
    button.navbar-toggler(type='button', data-toggle='collapse', data-target='#navbar1', aria-controls='navbar', aria-expanded='false', aria-label='Toggle navigation')
        span.navbar-toggler-icon
    #navbar.collapse.navbar-collapse
        ul.navbar-nav.mr-auto
            li.nav-item
                a.nav-link Offline data
            li.nav-item
                a.nav-link Online data
        ul.navbar-nav.ml-auto
            li.nav-item
                #ws_connection.navbar-text Websocket connection
                    i.fas.fa-unlink
            li.nav-item
                #tg_connection.navbar-text Telegram connection
                    i.fas.fa-unlink
            li.nav-item
                .navbar-text.navbar-right Auth state:
                    span#tg_auth_state(style="margin-left:5px;") Initializing
            li.nav-item
                #tg_auth_phone.tg-auth
                    form.form-inline
                        input.form-control(type="text", name="phone" placeholder="Phone")
                        button.btn.btn-success(type="submit") Send code
            li.nav-item
                #tg_auth_code.tg-auth
                    form.form-inline
                        input.form-control(type="text", name="code" placeholder="Code")
                        button.btn.btn-success(type="submit") Check code
            li.nav-item
                #tg_auth_logout.tg-auth
                    form.form-inline
                        button.btn.btn-success Logout